{% extends 'base.html.twig' %}

{% block title %} {{ ' Nueva información'|trans}} {% endblock %}

{% block body %}
    <br>
    <br>
    <h1 class="form-title">{{ 'Nueva Información de comunidad'|trans }}</h1>
    {{ include('information/_form.html.twig') }}

    
{% endblock %}
