{% extends 'base.html.twig' %}

{% block title %}New Community{% endblock %}

{% block body %}
    <br>
    <br>
    <h1 class="form-title">{{ 'Alta nueva comunidad'|trans }}</h1>


    {{ include('community/_form.html.twig') }}

{% endblock %}
