{% extends 'base.html.twig' %}

{% block title %}{{'Nueva opinión'|trans}}{% endblock %}

{% block body %}
    <br>
    <br>
    <h1 class="form-title">{{ 'Alta nueva opinión'|trans }}</h1>

    {{ include('opinions/_form.html.twig') }}

    
{% endblock %}
