{% extends 'base.html.twig' %}
{% block title %}News index{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="table-wrapper">
        <h1>{{ 'Noticias'|trans }}</h1>
        <div class="table-container">
            <a href="{{ path('app_news_new') }}" class="create-button">Create new</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>News_date</th>
                        <th>Body_news</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>
        

  
    
{% endblock %}
