{% extends 'base.html.twig' %}

{% block title %}{{'Nueva Noticia'|trans}}{% endblock %}

{% block body %}

    <br>
    <br>
    <h1 class="form-title">{{ 'Nueva noticia'|trans }}</h1>

    {{ include('news/_form.html.twig') }}

{% endblock %}
