<section class="news-section">
    <h2>Últimas noticias</h2>
    <div class="news-grid">
        <div class="news-card">
            <h3>Digital Access Control Implemented</h3>
            <span class="date">2025-05-20</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. </p>
        </div>
        <div class="news-card">
            <h3>New Platform for Booking Common Areas</h3>
            <span class="date">2025-05-18</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla, justo sit amet iaculis vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. </p>
        </div>
        <div class="news-card">
            <h3>Updated Financial Report Now Available</h3>
            <span class="date">2025-05-15</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet nibh vel eros tempor sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. </p>
        </div>
        <div class="news-card">
            <h3>Improved Garage Lighting System</h3>
            <span class="date">2025-05-12</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a libero vel neque efficitur gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo.</p>
        </div>
        <div class="news-card">
            <h3>Extraordinary General Meeting Called</h3>
            <span class="date">2025-05-10</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue justo nec lorem elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo.</p>
        </div>
        <div class="news-card">
            <h3>Digital Suggestion Box Now Active</h3>
            <span class="date">2025-05-08</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula urna id cursus laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit urna vel diam tincidunt commodo. </p>
        </div>
    </div>
</section>
