<section id="opinions" class="opiniones-section">
    <h2>Lo que opinan nuestros vecinos</h2>
    <div class="opiniones-grid">
        
        {% for opinions in latestOpinions %}
            <div class="opinion-card">
                
                {{ opinions.body }}

                <div class="autor"> - {{ opinions.nameNeighbor }} </div>
            </div>  
        {% else %}
            <p>No hay opiniones disponibles.</p>
        {% endfor %}
    
    </div>
</section>
