<div class="main-content fondo-edificios">
    <div class="core-content">
        <h1>Descubre la administración<br>más transparente y cercana</h1>

        <div class="buttons">
            <a href="#contacto" class="button-contact">Contacta con nosotros</a>
            <a href="#presupuesto" class="button-budget">Calcula tu presupuesto</a>
        </div>
    </div>
</div>